/* basic styles */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* Begin Header Navbar Styles */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.logo,
.nav-menu {
  text-transform: uppercase;
}
.logo,
.nav-item {
  white-space: nowrap;
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  flex: 1 0 33.3%;
  text-align: center;
}

.social-nav-item {
  flex: 1 1 10%;
}

.logo a,
.nav-menu a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.2rem;
  padding: 0.8rem;
  color: #000;
}

.logo a {
  font-weight: 700;
  font-size: 2rem;
}

.nav-menu a {
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid #fff;
  transition: all ease 0.1s;
}

.nav-menu a:hover {
  border-bottom: 1px solid #000;
}

/* Hero Header Navbar Chages */

.hero-nav {
  background-color: none;
  grid-column: 1/-1;
  grid-row: 1/-1;
  background: none;
  align-content: top;
  z-index: 10;
}

.hero-nav .logo a,
.hero-nav .nav-menu a {
  color: white;
}

.hero-nav .nav-menu a:hover {
  border-bottom: 1px solid #ffffff;
}

.hero-nav .nav-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Homepage Hero */

.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.hero-image-box {
  height: 100vh;
  max-width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hero-image-box::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-img,
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-video {
  background-color: #000;
  background-image: url("../img/Ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  align-self: center;
  padding: 1rem;
  z-index: 10;
  text-align: center;
}

.hero-heading {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.hero-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 2rem;
}

.hero-button:hover {
  transform: scale(0.95);
}

.hero-button:active {
  background: rgba(0, 0, 0, 0.3);
}

/* Footer Nav Extra Styles */

.footer-logo {
  white-space: nowrap;
}
.footer-social {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.footer-social a {
  color: black;
  padding: 0 1rem;
}

.footer-copyright {
  text-align: center;
  padding-bottom: 6rem;
}

/* Add Media Queries for large Screens */

@media (min-width: 600px) {
  .nav-bar {
    line-height: 1.5rem;
  }
  .nav-menu {
    padding: 0 1rem;
  }
  .nav-item {
    flex: 1 1;
  }
  .hero-nav {
    padding-bottom: 1rem;
  }
  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }

  .hero-text-box {
    padding: 2rem;
  }

  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .footer-nav {
    padding-top: 2rem;
  }
  .footer-logo {
    flex-basis: 100%;
  }
}

@media (min-width: 920px) {
  body {
    max-width: 1400px;
  }
  .hero-body {
    max-width: unset;
  }

  .nav-bar {
    justify-content: space-between;
    padding: 1rem 0;
    margin: 1rem auto 2rem auto;
    line-height: 1rem;
  }
  .nav-menu {
    width: auto;
    justify-self: end;
  }

  .logo {
    margin: 0, 0, 0, 0.3rem;
    justify-self: start;
  }
  .hero-nav {
    width: 100%;
  }

  .footer-nav {
    justify-content: space-evenly;
  }
}
